<div class="channel one-edge-shadow-bottom">
    <span class="channel-name">{{selectedChannel.name}}</span>
    <div class="channel-users-div">
        <span class="channel-users" *ngFor="let user of selectedChannelData.users;  let indexOfelement=index;"
            [ngClass]="{'from-user': user === userName.split(' ')[0]}">
            {{user}}{{indexOfelement !== selectedChannelData.users.length - 1 ? ',' : ''}}</span>
    </div>
</div>
<div class="chat-messages" #scrollMe *ngIf="selectedChannelData.messages">
    <div class="messages" *ngFor="let message of selectedChannelData.messages" [ngClass]="{'message-float': message.name === userName}" #message>
        <div class="message-div" [ngClass]="{'message-background': message.name === userName}">
            <p class="message">{{message.message}}</p>
        </div>
        <span class="message-from" *ngIf="message.name !== userName">{{message.name.split(' ')[0]}}</span>
    </div>
</div>
<div class="extra-space"></div>
<div class="input-div one-edge-shadow-top">
    <div class="padding-top">
        <input class="message-input" [(ngModel)]="inputMessage" (keyup)="onMessageKeyUp($event)" placeholder="Type a message...">
        <button class="send-button" (click)="onMessageSend()">Send</button>
    </div>
</div>
