<div class="chat-container">
    <div class="side-menu">
        <app-side-menu-container 
            [userName]="userName"
            [channels]="channels" 
            [selectedChannel]="selectedChannel">
        </app-side-menu-container>
    </div>
    <div class="chat-box">
        <app-chat-box-container
            *ngIf="selectedChannelData"
            [userName]="userName"
            [selectedChannelData]="selectedChannelData" 
            (sendMessageEvent)="sendMessage($event)">
        </app-chat-box-container>
    </div>
</div>
