ul {
    padding: 0;
    list-style-type: none;
}

.channel {
    padding: 3% 4% 3% 15%;
    color: #fff;
    cursor: pointer;
}

.selected {
    background-color: #800d20;
}

.channel:hover:not(.selected) {
    background-color: #973848;
}